.planet-info-bar-container {
    display: flex;
    color: white;
    height: 100vh;
}

.planet-info-box {
    background-color: rgba(70, 0, 58, 0.5);
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.planet-info-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}