
.clickable-card-container {
}

.clickable-card-image {
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.clickable-card-image:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.clickable-card-text {
    color: white;
    text-align: center;
}