

.clickable-card-image {
    max-width: 75%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.clickable-card-image:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.clickable-card-text {
    color: white;
    text-align: center;
}