.titlebar-h1 {
    color: white;
    font-weight: 400;
    font-size: x-large;
    width: 100%;
}

.titlebar-background {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 65px;
    width: 100%;
    background-color: #1A141A;
}